<!DOCTYPE html>
<html>
<body>

<h2>Edit Member</h2>

<form action="/admin/<%=editMember.id%>/edit" method="POST">
    <% include ../partials/edit.ejs %>
  <br><br>
  <input type="submit" value="Edit User">
</form> 
</body>
</html>