<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gold Golf Application</title>
</head>

<body bgcolor="#DAF7A6">
  <center>
    <h1>
    Already have an account?<a style="color:#F5B041"href="/login">Login</a>
    <br>
    Or please going for 
    <a style="color:#F5B041"href="/register">Signup</a>
  </h1>
</div>
  </center>
</body>

</html>
