<!DOCTYPE html>
<html>
<body>

<h2>Login Forms</h2>

<form action="/login" method="POST">
  First name:<br>
  <input type="text" name="username" placeholder="username">
  <br>
  Last name:<br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Login">
</form> 
</body>
</html>
