<!DOCTYPE html>
<html>

<body bgcolor="#DAF7A6">
  <a href="/">Home</a>
  <h2 style="color:#F5B041">Login Forms</h2>
  <form action="/login" method="POST">
    Username:<br>
    <input type="text" name="username" placeholder="username">
    <br> Password:
    <br>
    <input type="text" name="password" placeholder="password">
    <br><br> Already have an account?<input type="submit" value="Login">
    <br> Or please going for
    <h1>
  <a style="color:#F5B041"href="/register">Signup</a>
</h1>
  </form>
</body>

</html>