<!DOCTYPE html>
<html>
<body>

<h2>Register & Login</h2>

<form action="/login" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username">
  <br>
  Password:<br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Login">
</form>
</body>
</html>
