<!DOCTYPE html>
<html>
<body>
<a href="/">Home</a>
<h2>Login Forms</h2>
<form action="/login" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username">
  <br>
  Password:<br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Login">
  <a href="/register">Register</a>
</form> 
</body>
</html>
