<!DOCTYPE html>
<html>
<body>

<h2>Register Forms</h2>

<form action="/register" method="POST">
  First name:<br>
  <input type="text" name="firstName">
  <br>
  Last name:<br>
  <input type="text" name="lastName">
  <br>
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br>
  Birthdate:<br>
  <input type="date" name="birthdate">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Phone:<br>
  <input type="text" name="phone">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br>
  Latitude:<br>
  <input type="text" name="latitude">
  <br>
  Longitude:<br>
  <input type="text" name="longitude">
  <br>
  <select name="BranchId">
    <option value="1"> South</option>
    <option value="2"> East</option>
    <option value="3"> West</option>
    <option value="4"> North</option>
  </select>
  <br><br>
  <input type="submit" value="Register">
</form> 
</body>
</html>
