<!DOCTYPE html>
<html>
<body>

<h2>Edit Member</h2>

<form action="/users/<%=editMember.id%>/edit" method="POST">
    <% include ../partials/edit.ejs %>
    <br>
  Password:<br>
  <input type="text" name="password" value="<%=editMember.password%>">
  <br><br>
  <input type="submit" value="Edit User">
</form>
</body>
</html>
