<!DOCTYPE html>
<html>
<head>
    <% include ../partials/cssPartial.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <h2>Welcome to Gold Golf</h2>
    <% include ../partials/userPartial.ejs %>

    <br>
</body>
</html>
